@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
.hero{
    height: 100vh;
    width: 100%;
    background-color: white;
    background-size: cover;
    background-position: relative;
}
nav{
    display: flex;
    width: 80%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%; 
}

.logo{
    color: #ADA2FF;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
    
}
span{
    color:black;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
    font-family: 'Changa One', cursive;
    font-size: 17px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;

}
nav ul li a:hover{
    color: #ADA2FF;
    transition: .5s;
}
.btn{
    background-color: #ADA2FF;
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;

}
.btn:hover{
    transform: scale(1.2);
}
.content{
    position: absolute;
    top: 50%;
    left:8%;
    transform: translateY(-50%);
}
h1{
    color: #ADA2FF;
    margin: 20px 0px 20px;
    font-size: 45px;
}
h3{
    color:black;
    font-size: 25px;
    margin-bottom: 30px;
}
h4{
    color:black;
    letter-spacing: 3px;
    font-size: 40px;
    margin-bottom: 10px;
    
}
h1{
    font-family: 'Lobster', cursive;
    
}
.newslatter form{
    width: 380px;
    max-width: 100%;
    position: relative;
}
.newslatter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid blank;
    outline: none;
    border-radius: 30px;
}
.newslatter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 40px;
    background-color: #ADA2FF;
    color: black;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
}
.content a{
    background: #ADA2FF;
    padding: 20px 28px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    display: inline-block;
    margin: 30px 0px;
    border-radius: 5px;

}
.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: o;
    right: 100px;
}
.images img{
    height: 85%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s left 1s;
}
.images:hover .girl{
    left: 45%;
}
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: white;
}
.about img{
    height: 70vh;
    width: 500px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: black;
    font-size: 85px;
    text-transform: capitalize;
    margin-bottom: 20px;

}
.about-text h5{
    color: black;
    letter-spacing: 2px;
    font-size: 24px;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.about-text p{
    color: black;
    letter-spacing: 0px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button{
    background-color: #ADA2FF;
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 23px 40px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background-color: transparent;
    border: 2px solid black;
    cursor: pointer;
}
.service{
    background-color: white;
    width: 100%;
    padding: 100px 0px;
}
.title h2{
    color:black;
    font-size: 55px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{
    height: 465px;
    width: 435px;
    padding: 20px 35px;
    background-color: #F3E8FF;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card i{
    font-size: 40px;
    display: block;
    text-align: center;
    margin: 15px 0px;
    color: #ADA2FF;
}
h5{
    color: black;
    font-size: 23px;
    margin-bottom: 10px;
}
.pra p{
    color:black;
    font-size: 15px;
    line-height: 27px;
    margin-bottom: 15px;
}
.card .button{
    background-color: black;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}
.card .button:hover{
    background-color: transparent;
    border: 2px solid black;
    cursor: pointer;
}

.skills_section{
    width: 100%;
    height: 100vh;
    padding: 0px 13%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.skills_head{
    width: 100%;
    margin-bottom: 100px;
    display: grid;
    place-items: center;
    text-align: center;
}
.skills_head h2{
    font-size: 60px;
    margin-bottom: -5px;
    
}
.skills_main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}
.skills_head p{
    font-size: 25px;
    font-family: 'Lobster', cursive;

}
.info{
    font-size: 30px;
}
.skills_main .skill_bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 10px;
}
.skill_bar .info p:nth-child(2){
    font-weight: 400;
}
.skill_bar .bar{
    width: 100%;
    height: 10px;
    background-color: rgba(162, 143, 143, 0.144);
    border-radius: 25px;
    margin-top: 5px;
    position: relative;
}
.skill_bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: #ADA2FF;
    border-radius: 25px;
}
.skill_bar .bar .html{
    width: 90%;
    animation: html 2s;
}
@keyframes html {
    0%{
        width: 0%;
    }100%{
        width: 90%;
    }
}
.skill_bar .bar .css{
    width: 85%;
    animation: css 2s;
}
@keyframes css {
    0%{
        width: 0%;
    }100%{
        width: 85%;
    }
}
.skill_bar .bar .sass{
    width: 80%;
    animation: sass 2s;
}
@keyframes sass {
    0%{
        width: 0%;
    }100%{
        width: 80%;
    }
}
.skill_bar .bar .js{
    width: 80%;
    animation: css 2s;
}
@keyframes js {
    0%{
        width: 0%;
    }100%{
        width: 80%;
    }
}
.skill_bar .bar .react{
    width: 75%;
    animation: react 2s;
}
@keyframes react {
    0%{
        width: 0%;
    }100%{
        width: 75%;
    }
}
.skill_bar .bar .node{
    width: 70%;
    animation: node 2s;
}
@keyframes node {
    0%{
        width: 0%;
    }100%{
        width: 70%;
    }
}
.skill_bar .bar .express{
    width: 65%;
    animation: express 2s;
}
@keyframes express {
    0%{
        width: 0%;
    }100%{
        width: 65%;
    }
}
.skill_bar .bar .mongo{
    width: 60%;
    animation: mongo 2s;
}
@keyframes mongo {
    0%{
        width: 0%;
    }100%{
        width: 60%;
    }
}
.contact-me{
    width: 100%;
    height: 290px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.contact-me p{
    color: black;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 15px;
}
.contact-me .button-two{
    background-color: #ADA2FF;
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 23px 40px;
    border-radius: 30px;
    transition: .4s;
}
.contact-me .button-two:hover{
    background-color: transparent;
    border: 2px solid black;
    cursor: pointer;
}
footer{
    position: relative;
    width: 100%;
    height: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p:nth-child(1){
    font-size: 45px;
    color: black;
    margin-bottom: 15px;
    font-weight: bold;
}
footer p:nth-child(2){
    color: black;
    font-size: 30px;
    width: 400px;
    text-align: center;
    line-height: 30px;
}
.social{
    display: flex;
}
.social a{
    width: 151px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    margin: 22px 10px;
    text-decoration: none;
    font-size: 35px;
}
.social a:hover{
    transform: scale(1.3);
    transition: .3s;
}
.end{
    position: absolute;
    color: black;
    bottom: 35px;
    font-size: 20px;
}